.MainSchool {
    .Flex {
        display: flex;
        align-items: center;
        .Print {
            input {
                width: 200px;
                color: var(--color4);
                background-color: var(--color1);
                border: 1px solid var(--color4);
            }
        }
        .Name {
            width: 200px;
        }
        .Radio {
            width: 20px;
            height: 20px;
            background-color: var(--color1);
            border: 3px solid var(--color2);
            border-radius: 50%;
            .Ok {
                width: 14px;
                height: 14px;
                background-color: var(--color5);
                border-radius: 50%;
                margin-top: -1px;
                margin-left: 1px;
            }
        }
        :hover {
            cursor: pointer;
        }
        .Tre {
            margin-left: 4px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 11px solid var(--color2);
            border-radius: 10px;
            margin-top: 2px;
        }  
    }
    margin-top: 10px;
}