.MainComponent {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 800;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    color: var(--color4);
    .Obod {
        width: 170px;
        :hover {
            cursor: pointer;
        }
        color: var(--color4);
        background-color: var(--color1);
        border: 3px solid var(--color2);
        border-radius: 15px;
        height: 40px;
        display: flex;
        padding: 3px;
        justify-content: space-between;
        .TargetClass {
            background-color: var(--color3);
            border: 3px solid var(--color2);
            border-radius: 6px;
            width: 160px;
            height: auto;
            display: flex;
            justify-content: start;
            padding-left: 5px;
            align-items: center;
            overflow: hidden;
        }
        .Button {
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Down {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid var(--color2);
            border-radius: 10px;
            padding-bottom: 4px;
        }  
    }
    .Lists {
        position: absolute;
        width: 170px;
        max-height: 390px;
        background-color: var(--color1);
        border: 3px solid var(--color2);
        border-radius: 10px;
        overflow: scroll;
        .List { 
            height: 40px;
            padding: 5px 0px 5px 10px;
            display: flex;
            justify-content: start;
            align-items: center;
        }  
        .List:hover{
            background-color: var(--color3);
            cursor: pointer;
        }  
    }
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
